body{

  height: 100%;
  width: 100%;
  text-align: center;
  background-color:#78ffb5;
}

h1{
  font-size: 40px;
  color:black;
  text-align: center; 

  
}
  
p{
  color: black

  
}
  

footer {
    
      text-align: center;
      line-height: 350px;
       
       
    }  

